$color-background: #FF4646;
$color-contentBackground: #ECF3F8;
$color-staticWhite: #FFFFFF;
$color-staticWhite20: #FFFFFF33;
$color-staticWhite40: #FFFFFF66;

$color-pink: #FF43F7;
$color-purple: #4361FF;
$color-green: #06A44F;

$color-overlay: #181C29CC;
$color-dark: #181C29;
$color-primary: #FF46461A;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;