%burger__span {
  position: absolute;
  background-color: #181C29;
  width: 20px;
  height: 2px;
  transition: transform .5s ease 0s;
}

.burger {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 20px 10px;
  cursor: pointer;
  z-index: 5;
  transition: left .5s ease 0s;

  @include media-mediumScreen {
    display: block;
    // margin-bottom: 10px;
  }
}

.burger__line {
  @extend %burger__span;
  top: 24px;
  left: 10px;

  &::before {
    content: "";
    @extend %burger__span;
    bottom: 8px;
    left: 0px;
  }
}

.header__navigation.active {
  width: 100%;
  top: 63px;
  right: 0;

  transform: translate(0px, 0px);
  background-color: $color-staticWhite;
  // transition: transform .5s;
}

.header__navigation.active ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: calc(100vh - 63px);
  // transition: right .5s ease 0s;
}

.header__navigation.active ul li {
  margin: 13px 4px;
}

.header__navigation.active ul li .navigation__link {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.648rem;
  letter-spacing: 0.16em;
  text-align: center;
  padding: 12px 20px;
  // text-underline-position: from-font;
  // text-decoration-skip-ink: none;

}

.burger.active span {
  top: 50%;
  transform: rotate(45deg) translate(0px, -50%);
}

.burger.active span::before {
  bottom: 50%;
  transform: rotate(90deg) translate(0px, 25%);
}