@use "../abstract/constants";
@use "../abstract/mixins";

%modal__span {
  position: absolute;
  content: "";
  background-color: #181C29;
  width: 30px;
  height: 2px;
}

.overlay {
  background-color: constants.$color-overlay;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  overflow: auto;
  transition: right .5s ease 0s;
}

.modal {
  background-color: constants.$color-contentBackground;
  border-radius: 20px;
  max-width: 400px;
  position: relative;

  @include mixins.media-preSmallScreen {
    max-width: 364px;
  }
}

.modal__image {
  display: block;
  width: 400px;
  height: 230px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  @include mixins.media-preSmallScreen {
    width: 364px;
  }
}

.work {
  background-image: url(./src/accets/png/gift-for-work.png);
}

.health {
  background-image: url(./src/accets/png/gift-for-health.png);
}

.harmony {
  background-image: url(./src/accets/png/gift-for-harmony.png);
}

.modal__close-btn {
  width: 40px;
  height: 40px;
  padding: 10px 10px;

  position: absolute;
  left: 345px;
  top: 12px;
  cursor: pointer;

  @include mixins.media-preSmallScreen {
    left: 309px;
  }
}

.modal__close-line {
  @extend %modal__span;
  top: 20px;
  transform: rotate(45deg);

  &::before {
    @extend %modal__span;
    transform: rotate(90deg);
  }
}

.contentName {
  margin: 9px 0;
}

.contentBlocksLabel {
  margin: 20px 0 8px;
}

.contentBlockSummary {
  padding: 0 8px;
}

.modal__content {
  background-color: constants.$color-staticWhite;
  padding: 20px 20px;
  border-radius: 20px;
}

.modalContentBlock {
  display: flex;
  justify-content: space-between;
}

.redSnowflake {
  display: block;
  background-image: url(./src/accets/ico-logo.svg);
  background-size: contain;
  width: 16px;
  height: 16px;
}

.whiteSnowflake {
  display: block;
  background-image: url(./src/accets/ico-logo-white.svg);
  background-size: contain;
  width: 16px;
  height: 16px;
}

.modal-description-label {
  width: 50%;

  @include mixins.media-preSmallScreen {
    width: 44%;
  }
}