.bestGifts {
  background-color: $color-background;
  background-image: url("./accets/png/bg-snow.png");
  background-position: center;
  background-size: 100%;
  padding: 55px 82px;

  h3 {
    text-align: center;
    padding: 10px 0;
  }
}

.gifts {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 6px;
}

.gift__content {
  background-color: $color-contentBackground;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.gift__description {
  background-color: $color-staticWhite;
  padding: 20px 20px;
  border-radius: 20px;
  flex-grow: 1;
  min-height: 115px;
  width: 310px;

  h5 {
    padding-bottom: 10px;
  }

  h4 {
    max-width: 270px;
  }
}

.gift__image {
  display: block;
  width: 310px;
}