// ---------------------------------
// page GIFTS
// ---------------------------------
.Gifts_gifts {
  background-color: $color-background;
  background-image: url("./accets/svg/bg-garland.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  border-radius: 20px;
  padding: 59px 82px 58px;

  h2 {
    max-width: 430px;
    text-align: center;
    color: $color-staticWhite;
    margin: 0 auto;
    font-weight: 600;
  }

  @include media-preMediumScreen {
    padding: 60px 68px;
  }

  @include media-mediumScreen {
    padding: 60px 13px;
  }
}

.tabs {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 20px 0 15px;
}

.tab-anable {
  background-color: rgba(255, 255, 255, 0.2);
}

.tab-anable:hover {
  user-select: none;
  cursor: default;
}

.tab {
  margin: 0 4px;
  padding: 12px 20px;
  border-radius: 12px;
  color: $color-staticWhite;

  &-disable {
    @extend %transition;
  }

  &-disable:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }

  @include media-preSmallScreen {
    padding: 12px 8px;
    margin: 0 0px;
  }
}

.gifts__conteiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 12px;
  padding: 5px 0 0;
}