* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation, .input, .keyboard {
  width: 700px;
  margin: 0 auto;
  padding: 10px 50px;
}

.navigation{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.levels{
  padding: 10px 50px;
  margin: 0 auto;
}

.level--input:first-child{
  margin-left: 40px;
}

.level--input{
  vertical-align: text-bottom;
  margin: auto 5px;
}

.levels--label{
  margin: 20px auto;
  font-size: 2.6rem;
  text-align: center;
}

.level--label{
  font-size: 1.6rem;
  margin: 20px 40px auto 5px;
}

.roundsLabel {
  font-size: 2.0rem;
  margin: 0 auto;
  padding: 20px;
}

.buttonReStart, .buttonRepeat, .buttonStart {
  display: none;
  width: 100px;
  height: 30px;
  margin: 0 auto;
}

.output {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.output--p {
  margin: 0 auto;
  font-size: 1.6rem;
  color: rgb(27, 55, 84);
}

.keyboard{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.green {
  color: green;
}

.red {
  color: green;
}

.key {
  display: none;
  border-radius: 5px;
  height: 30px;
  border: 2px solid #7dc1ee;
  transition: box-shadow 350ms ease-in-out;
  transition: border 350ms ease-in-out;
  cursor: pointer;
}

.key.active {
  border: 2px solid #146194;
  box-shadow: rgba(20, 97, 148, 0.25) 0px 50px 100px -20px inset;
  transition: border 350ms ease-in-out;
}

.keyboardContainer--numbers{
  width: 8%;
  margin: 5px;
}

.keyboardContainer--letter {
  width: 6%;
  margin: 3px;
}

.visible {
  display: inline-block;
}

