.footer-icon,
.contacts__content h3,
.contacts__content h4,
.tab-disable,
.navigation_active,
.button__arrow_active,
.button__top,
.button__black,
.h6_dark {
  transition: all 0.3s ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", verdana, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  color: #181C29;
}

body.nonescroll {
  overflow: hidden;
}

h1 {
  padding: 4px 7px;
  font-size: 1.2rem;
  line-height: 1.56rem;
  letter-spacing: 0.05em;
  color: #181C29;
}

h2 {
  font-size: 3.2rem;
  line-height: 4.8rem;
  letter-spacing: 0.18em;
  font-weight: 600;
}

h3 {
  font-size: 2.4rem;
  line-height: 3.648rem;
  letter-spacing: 0.16em;
  color: #FFFFFF;
  font-weight: 600;
}

h4 {
  font-size: 1.6rem;
  line-height: 2.432rem;
  letter-spacing: 0.08em;
}

.h4_dark,
.h3_dark {
  color: #181C29;
}

h5,
.h5 {
  font-size: 1.2rem;
  line-height: 1.56rem;
  letter-spacing: 0.05em;
}

.h5--green {
  color: #06A44F;
}

.h5--blue {
  color: #4361FF;
}

.h5--pink {
  color: #FF43F7;
}

h6 {
  font-family: Allura;
  letter-spacing: 0.05em;
  text-decoration: none;
  display: block;
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  color: #FFFFFF;
}

.h6 {
  font-family: Allura;
  letter-spacing: 0.05em;
  text-decoration: none;
  display: block;
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  color: #FFFFFF;
}

.h6_dark {
  color: #181C29;
  margin: 0 auto;
}

.h6_primary {
  color: #FF4646;
}

p {
  font-weight: 400;
  text-transform: none;
  line-height: 2.368rem;
}

.button {
  padding: 20px 32px;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Montserrat", verdana, sans-serif;
  text-transform: uppercase;
  color: #181C29;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.56rem;
  letter-spacing: 0.05em;
  margin-bottom: 13px;
}

.button__black {
  background-color: #181C29;
  color: #FFFFFF;
  border: 0;
}

@media (any-pointer: fine) {
  .button__black:hover {
    background-color: #FFFFFF;
    color: #181C29;
  }
}

.button__arrow {
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 20px 21px;
  font-weight: 2.4rem;
  margin: 0 10px;
  background-color: #FF4646;
}

.button__top {
  display: none;
  background-color: #FFFFFF;
  border-radius: 100px;
  border: 1px solid #FF4646;
  box-shadow: 0 0 0.5;
  padding: 15px 15px;
  cursor: pointer;
  position: fixed;
  right: 8px;
  bottom: -100px;
}

@media (max-width: 768px) {
  .button__top {
    display: block;
  }
}

.button__top .arrow_top {
  background-image: url("./src/accets/svg/Vector (1).svg");
  transform: rotate(270deg);
  width: 24px;
  height: 24px;
  display: block;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.button__top_visible {
  bottom: 8px;
}

.arrow {
  background-image: url("./src/accets/svg/Vector.svg");
  display: inline-block;
  width: 12.5px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
}

.arrow_left {
  transform: rotate(180deg);
}

.button__arrow_active {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.button__arrow_active .arrow {
  opacity: 1;
}

@media (any-pointer: fine) {
  .button__arrow_active:hover {
    background-color: #FFFFFF;
  }

  .button__arrow_active:hover span {
    background-image: url("./src/accets/svg/Vector (1).svg");
  }
}

.burger__line::before,
.burger__line {
  position: absolute;
  background-color: #181C29;
  width: 20px;
  height: 2px;
  transition: transform 0.5s ease 0s;
}

.burger {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 20px 10px;
  cursor: pointer;
  z-index: 5;
  transition: left 0.5s ease 0s;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }
}

.burger__line {
  top: 24px;
  left: 10px;
}

.burger__line::before {
  content: "";
  bottom: 8px;
  left: 0px;
}

.header__navigation.active {
  width: 100%;
  top: 63px;
  right: 0;
  transform: translate(0px, 0px);
  background-color: #FFFFFF;
}

.header__navigation.active ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: calc(100vh - 63px);
}

.header__navigation.active ul li {
  margin: 13px 4px;
}

.header__navigation.active ul li .navigation__link {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.648rem;
  letter-spacing: 0.16em;
  text-align: center;
  padding: 12px 20px;
}

.burger.active span {
  top: 50%;
  transform: rotate(45deg) translate(0px, -50%);
}

.burger.active span::before {
  bottom: 50%;
  transform: rotate(90deg) translate(0px, 25%);
}

.modal__close-line::before,
.modal__close-line {
  position: absolute;
  content: "";
  background-color: #181C29;
  width: 30px;
  height: 2px;
}

.overlay {
  background-color: rgba(24, 28, 41, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  overflow: auto;
  transition: right 0.5s ease 0s;
}

.modal {
  background-color: rgb(236, 243, 248);
  border-radius: 20px;
  max-width: 400px;
  position: relative;
}

.modal__image {
  display: block;
  width: 400px;
  height: 230px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.work {
  background-image: url(./src/accets/png/gift-for-work.png);
}

.health {
  background-image: url(./src/accets/png/gift-for-health.png);
}

.harmony {
  background-image: url(./src/accets/png/gift-for-harmony.png);
}

.modal__close-btn {
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  position: absolute;
  left: 345px;
  top: 12px;
  cursor: pointer;
}

.modal__close-line {
  top: 20px;
  transform: rotate(45deg);
}

.modal__close-line::before {
  transform: rotate(90deg);
}

.contentName {
  margin: 9px 0;
}

.contentBlocksLabel {
  margin: 20px 0 8px;
}

.contentBlockSummary {
  padding: 0 8px;
}

.modal__content {
  background-color: #FFFFFF;
  padding: 20px 20px;
  border-radius: 20px;
}

.modalContentBlock {
  display: flex;
  justify-content: space-between;
}

.redSnowflake {
  display: block;
  background-image: url(./src/accets/ico-logo.svg);
  background-size: contain;
  width: 16px;
  height: 16px;
}

.whiteSnowflake {
  display: block;
  background-image: url(./src/accets/ico-logo-white.svg);
  background-size: contain;
  width: 16px;
  height: 16px;
}

.modal-description-label {
  width: 50%;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

header {
  padding: 12px 78px 12px 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1080px) {
  header {
    padding: 12px 8px 11px 28px;
  }
}

.logo {
  display: flex;
  padding: 8px 2px;
  text-decoration: none;
}

.ico__logo {
  background-image: url("./src/accets/ico-logo.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.navigation {
  display: flex;
  list-style-type: none;
}

@media (max-width: 768px) {
  .header__navigation {
    position: fixed;
    right: 0;
    background-color: #FFFFFF;
    transform: translate(100%, 0px);
    transition: transform 0.5s;
  }
}

.navigation__item {
  padding: 2px 4px;
}

.navigation__link {
  text-decoration: none;
  color: #181C29;
  font-size: 1.2rem;
  line-height: 1.56rem;
  letter-spacing: 0.05em;
  padding: 12px 20px;
  border-radius: 12px;
}

.navigation__link-disable {
  background: rgba(255, 70, 70, 0.1019607843);
  color: #FF4646;
}

@media (any-pointer: fine) {
  .navigation__link-disable:hover {
    cursor: default;
  }
}

@media (any-pointer: fine) {
  .navigation_active:hover .navigation__link {
    background: rgba(255, 70, 70, 0.1019607843);
    color: #FF4646;
  }
}

.hero {
  background-color: #FF4646;
  background-image: url("./src/accets/svg/bg-ball 1.svg"), url("./src/accets/png/bg-snow.png");
  background-position: center, center;
  background-size: 1440px, 1440px;
  background-repeat: no-repeat, no-repeat;
  border-radius: 20px 20px 0px 0px;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .hero {
    background-size: 1250px, 1260px;
  }
}

@media (max-width: 600px) {
  .hero {
    background-position: top, center;
    background-size: 1370px, 1370px;
  }
}

.hero__contant {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  color: #FFFFFF;
}

.hero__contant h2 {
  text-align: center;
  padding: 12px 0;
}

.about {
  padding: 60px 82px;
  background-color: #FF4646;
  background-image: url("./src/accets/png/bg-snow.png");
  background-position: center;
  background-size: 100%;
}

@media (max-width: 1080px) {
  .about {
    padding: 60px 8px;
  }
}

.about__container {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.about__container div {
  width: 50%;
}

@media (max-width: 600px) {
  .about__container {
    flex-direction: column;
    align-items: center;
  }

  .about__container div {
    width: 100%;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 0 60px;
}

.about__content h6 {
  text-align: left;
}

.about__content h3 {
  padding: 20px 0;
  max-width: 360px;
}

@media (max-width: 768px) {
  .about__content h3 {
    max-width: 300px;
  }
}

@media (max-width: 380px) {
  .about__content h3 {
    max-width: 350px;
  }
}

.about__content p {
  max-width: 410px;
}

@media (max-width: 768px) {
  .about__content p {
    max-width: 270px;
  }
}

@media (max-width: 380px) {
  .about__content p {
    max-width: 325px;
  }
}

@media (max-width: 600px) {
  .about__content {
    padding: 60px 20px;
  }
}

.about__image {
  background-image: url("./src/accets/png/object.png");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;
  height: 528px;
}

.slider {
  padding: 60px 0;
  background-color: #FF4646;
  background-image: url("./src/accets/png/bg-snow.png");
  background-position: center;
  background-size: 100%;
  overflow: hidden;
}

.slider h3 {
  text-align: center;
  padding: 12px 0;
}

.slider .buttons {
  display: flex;
  justify-content: right;
  padding: 10px 70px;
}

@media (max-width: 768px) {
  .slider .buttons {
    padding: 10px 0px;
  }
}

@media (max-width: 380px) {
  .slider {
    padding: 62px 0;
    background-size: 1190px;
  }
}

.slider__content {
  padding: 8px 0;
  display: flex;
  position: relative;
  left: 65px;
  align-items: center;
  transition: left .4s ease-in-out;
}

@media (max-width: 1080px) {
  .slider__content {
    left: -11px;
  }
}

.slider_text {
  font-size: 8rem;
  font-weight: 600;
  line-height: 9.752rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0 20px;
}

.slider_picture {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.bestGifts {
  background-color: #FF4646;
  background-image: url("./src/accets/png/bg-snow.png");
  background-position: center;
  background-size: 100%;
  padding: 55px 82px;
}

.bestGifts h3 {
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 1080px) {
  .bestGifts h3 {
    padding: 12px 0px;
  }
}

@media (max-width: 1080px) {
  .bestGifts {
    padding: 50px 8px;
  }
}

@media (max-width: 380px) {
  .bestGifts {
    padding: 47px 8px;
  }
}

.gifts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px 12px;
  margin-top: 6px;
  flex-wrap: wrap;
}

.gift__content {
  background-color: rgb(236, 243, 248);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

@media (any-pointer: fine) {
  .gift__content:hover .gift__description>h4 {
    color: #FF4646;
  }
}

.gift__description {
  background-color: #FFFFFF;
  padding: 20px 20px;
  border-radius: 20px;
  flex-grow: 1;
  min-height: 114px;
  width: 310px;
}

.gift__description h5 {
  padding-bottom: 10px;
}

.gift__description h4 {
  max-width: 270px;
}

.gift__image {
  display: block;
  width: 310px;
}

.Gifts_gifts {
  background-color: #FF4646;
  background-image: url("./src/accets/svg/bg-garland.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  border-radius: 20px;
  padding: 59px 82px 58px;
}

.Gifts_gifts h2 {
  max-width: 430px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  font-weight: 600;
}

@media (max-width: 1080px) {
  .Gifts_gifts {
    padding: 60px 68px;
  }
}

@media (max-width: 768px) {
  .Gifts_gifts {
    padding: 60px 13px;
  }
}

.tabs {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 20px 0 15px;
}

.tab-enable {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (any-pointer: fine) {
  .tab-enable:hover {
    user-select: none;
    cursor: default;
  }
}

.tab {
  margin: 0 4px;
  padding: 12px 20px;
  border-radius: 12px;
  color: #FFFFFF;
}

@media (any-pointer: fine) {
  .tab-disable:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .tab {
    padding: 12px 8px;
    margin: 0 0px;
  }
}

.gifts__conteiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 12px;
  padding: 5px 0 0;
}

.gift_disable {
  display: none;
}

.timer {
  background-color: #FF4646;
  background-image: url("./src/accets/png/bg-forest.png"), url("./src/accets/png/bg-snow.png");
  background-position: top, top;
  background-repeat: no-repeat;
  background-size: 1440px, 1440px;
  border-radius: 0px 0px 20px 20px;
  padding: 175px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer button {
  margin-bottom: 15px;
}

.timer h6 {
  padding: 7px 0;
}

@media (max-width: 768px) {
  .timer h6 {
    padding: 6px 0;
  }
}

@media (max-width: 768px) {
  .timer {
    background-size: 1435px, 1600px;
    padding: 180px 0;
    background-position: bottom, bottom;
  }
}

@media (max-width: 380px) {
  .timer {
    background-size: 1510px, 1700px;
    padding: 182px 0 179px;
  }
}

.timer>h3 {
  max-width: 426px;
  text-align: center;
  padding: 8px 0 17px;
}

@media (max-width: 768px) {
  .timer>h3 {
    padding: 8px 0 20px;
  }
}

.timer__content {
  background-color: rgba(255, 255, 255, 0.4);
  color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  width: 344px;
  padding: 10px 13px 13px;
}

@media (max-width: 768px) {
  .timer__content {
    padding: 11px 13px 11px;
  }
}

.timer__line {
  margin-top: 16px;
  border: 1px solid #FFFFFF;
  width: 2px;
  height: 23px;
  opacity: 0.8;
}

.timer-days,
.timer-hours,
.timer-minutes,
.timer-seconds {
  width: 25%;
}

.timer-days h3,
.timer-hours h3,
.timer-minutes h3,
.timer-seconds h3 {
  text-align: center;
}

.timer-days h5,
.timer-hours h5,
.timer-minutes h5,
.timer-seconds h5 {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 62px 82px;
}

@media (any-pointer: fine) {
  .footer .h6:hover {
    color: #FF4646;
  }
}

@media (max-width: 1080px) {
  .footer {
    padding: 60px 8px;
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 1080px) {
  .contacts {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}

.contacts__content {
  background-color: rgb(236, 243, 248);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  text-decoration: none;
}

.contacts__content h4 {
  padding: 10px 0 18px;
}

@media (max-width: 1080px) {
  .contacts__content {
    width: 100%;
  }
}

@media (any-pointer: fine) {
  .contacts__content:hover {
    cursor: pointer;
  }

  .contacts__content:hover h3,
  .contacts__content:hover h4 {
    color: #FF4646;
  }
}

.contact__image {
  width: 80px;
  height: 80px;
  margin: 20px 0 14px 0;
  align-items: center;
}

.footer__icons {
  display: flex;
  justify-content: center;
  padding: 58px 0 0 0;
}

.footer-icon {
  width: 40px;
  height: 40px;
  padding: 8px 8px;
  cursor: pointer;
  margin: 3px 6px;
}

@media (any-pointer: fine) {
  .footer-icon:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  }
}

.footer-h4 {
  text-align: center;
  font-weight: 400;
  line-height: 2.368rem;
  text-transform: none;
  padding: 12px 0;
  letter-spacing: 0em;
}

/*# sourceMappingURL=style.css.map */