.button {
  padding: 18px 32px;
  border-radius: 20px;
  cursor: pointer;

  font-family: "Montserrat", verdana, sans-serif;
  text-transform: uppercase;
  color: $color-dark;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.56rem;
  letter-spacing: 0.05em;
  margin-bottom: 13px;
}

.button__black {
  background-color: $color-dark;
  color: $color-staticWhite;
  transition: 0.4s all;
}

.button__black:hover {
  background-color: $color-staticWhite;
  color: $color-dark;
}

.button__arrow {
  color: $color-staticWhite40;
  border: 1px solid $color-staticWhite40;
  border-radius: 20px;
  padding: 20px 21px;
  font-weight: 2.4rem;
  margin: 0 10px;
  background-color: $color-background;
}

.button__arrow_active {
  color: $color-staticWhite;
  border: 1px solid $color-staticWhite;
  cursor: pointer;
  transition: 0.4s all;

  .arrow {
    opacity: 1;
  }
}

.button__arrow_active:hover {
  background-color: $color-staticWhite;

  span {
    background-image: url("./accets/svg/Vector (1).svg");
  }
}