.button {
  padding: 20px 32px;
  border-radius: 20px;
  cursor: pointer;

  font-family: "Montserrat", verdana, sans-serif;
  text-transform: uppercase;
  color: $color-dark;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.56rem;
  letter-spacing: 0.05em;
}

.button__black {
  background-color: $color-dark;
  color: $color-staticWhite;
}

.button__black:hover {
  background-color: $color-staticWhite;
  color: $color-dark;
}