:root {
  --primary-color: rgba(239, 242, 239, 1);
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: var(--primary-color);

}
.timer {
  padding: 20px;
  display: inline-block;
}

.nanogram {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nanogram--wrapper {
  display: grid;
  grid-template-columns: max-content max-content;
  border: 1px solid gray;
  margin: 0 auto;
}
.nanogram--wrapper::before {
  content: '';
  display: inline-block;
  background-color: rgba(128, 128, 128, 0.5);
}

.nanogram--colums-container {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.nanogram--colum{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.nanogram--header-column, .nanogram--header-row {
  display: inline-block;
  border: 1px solid gray;
  width: 33px;
  height: 33px;
  text-align: center;
}
.nanogram--header-column:not(:first-child){
  border-top: 0px;
}
.nanogram--rows-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.nanogram--row{
  display: flex;
  flex-direction: row;
  align-items: end;
}
.nanogram--body-container{
  display: grid;
}
.nanogram--data-button {
  width: 33px;
  height: 33px;
  display: inline-block;
  border: 1px solid grey;
}