:root {
  --primary-color: rgba(239, 242, 239, 1);
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: var(--primary-color);

}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;
}

.header--logoImage {
  width: 80px;
  padding-right: 30px;
}

.navigation--main {
  display: flex;
  justify-content: center;
  margin: 10px;
  list-style-type: none;
}

.navigation--main-item {
  margin: 10px 30px;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.3);
  cursor: pointer;
  min-width: 170px;
  text-align: center;
}
.submenu {
  display: none;
  list-style-type: none;
  list-style-type: none;
  position: absolute;
  background-color: rgba(209, 209, 209, 0.9);
  border-radius: 5px;
  font-size: 0.9rem;
  min-width: 140px;
  cursor: auto;
}

.submenu.visible {
  display: block;
}
.smallItem, .mediumItem, .largeItem {
  padding: 5px 10px;
  margin: 10px 17px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 5px;
}

.timer {
  padding: 20px;
  display: inline-block;
}

.nanogram {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nanogram--wrapper {
  display: grid;
  grid-template-columns: max-content max-content;
  border: 3px solid gray;
  margin: 0 auto;
}
.nanogram--wrapper::before {
  content: '';
  display: inline-block;
  background-color: rgba(128, 128, 128, 0.5);
  border-right: 3px solid gray;
  border-bottom: 3px solid gray;
}

.nanogram--colums-container {
  display: flex;
  flex-direction: row;
  /* align-items: end; */
  background-color: rgba(128, 128, 128, 0.13);
  border-bottom: 3px solid gray;
}
.nanogram--column:nth-child(5n):not(:last-child){
  border-right: 3px solid gray;
  }

.nanogram--column:not(:last-child){
  border-right: 1px solid gray;
}
.nanogram--column{
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  justify-content: end;
  height: 100%;
}
/* .nanogram--header-column {
  border-top: 1px solid gray;
} */
/* .nanogram--header-column, .nanogram--header-row {
  border-left: 1px solid gray;
} */
.nanogram--header-column, .nanogram--header-row {
  display: inline-block;
  width: 33px;
  height: 33px;
  text-align: center;
  align-content: center;
}
/* .nanogram--header-column:not(:first-child){
  border-top: 0px;
} */
.nanogram--rows-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: rgba(128, 128, 128, 0.13);
  border-right: 3px solid gray;
}
.nanogram--row:nth-child(5n):not(:last-child){
border-bottom: 3px solid gray;
}
.nanogram--row:not(:last-child){
  border-bottom: 1px solid gray;
}
.nanogram--row{
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  /* align-items: end; */
}
/* .nanogram--body-container{
  display: grid;
} */
.nanogram--data-button:not(:last-child) {
  border-right: 1px solid gray;
}
.nanogram--data-button {
  /* width: 34px; */
  width: 34px;
  height: 33px;
  display: inline-block;
  border: 0px;
}
.nanogram--body-container .nanogram--row{
  justify-content: space-around;
}