:root {
  --primary-color: rgba(239, 242, 239, 1);
  --text-color: #386C38;
  --font-color-dark: rgba(167.19, 203.45, 167.19, 0.6); 
  --font-color-light: rgba(113, 157, 113, 0.1); 
  --colored-cell: black; 
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
  font-size: 20px;
  color: var(--text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: var(--primary-color);

}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;
}

.header--logoImage {
  width: 80px;
  padding-right: 30px;
}

.navigation--main {
  display: flex;
  justify-content: center;
  margin: 10px;
  list-style-type: none;
}

.navigation--main-item {
  margin: 10px 30px;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid var(--text-color);
  background-color: var(--font-color-dark);
  color: var(--text-color);
  cursor: pointer;
  min-width: 170px;
  text-align: center;
}
.submenu {
  display: none;
  list-style-type: none;
  list-style-type: none;
  position: absolute;
  /* background-color: rgba(209, 209, 209, 0.9); */
  background-color: var(--font-color-dark);
  border-radius: 5px;
  font-size: 0.9rem;
  min-width: 140px;
  cursor: auto;
}

.submenu.visible {
  display: block;
}
.smallItem, .mediumItem, .largeItem {
  padding: 5px 10px;
  margin: 10px 17px;
  text-align: center;
  cursor: pointer;
  background-color: var(--font-color-dark);
  border-radius: 5px;
  border: 1px solid var(--text-color);
}

.timer {
  padding: 20px;
  display: inline-block;
}

.nanogram {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nanogram--wrapper {
  display: grid;
  grid-template-columns: max-content max-content;
  border: 3px solid gray;
  margin: 0 auto;
}
.nanogram--wrapper::before {
  content: '';
  display: inline-block;
  background-color: var(--font-color-dark);
  border-right: 3px solid gray;
  border-bottom: 3px solid gray;
}

.nanogram--colums-container {
  display: flex;
  flex-direction: row;
  /* align-items: end; */
  background-color: var(--font-color-light);
  border-bottom: 3px solid gray;
}
.nanogram--column:nth-child(5n):not(:last-child){
  border-right: 3px solid gray;
  }

.nanogram--column:not(:last-child){
  border-right: 1px solid gray;
}
.nanogram--column{
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  justify-content: end;
  height: 100%;
}

.nanogram--header-column, .nanogram--header-row {
  display: inline-block;
  width: 33px;
  height: 33px;
  text-align: center;
  align-content: center;
}

.nanogram--rows-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: var(--font-color-light);
  border-right: 3px solid gray;
}
.nanogram--row:nth-child(5n):not(:last-child){
border-bottom: 3px solid gray;
}
.nanogram--row:not(:last-child){
  border-bottom: 1px solid gray;
}
.nanogram--row{
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  /* align-items: end; */
}

.nanogram--data-button:not(:last-child) {
  border-right: 1px solid gray;
}
.nanogram--data-button {
  /* width: 34px; */
  width: 34px;
  height: 33px;
  display: inline-block;
  border: 0px;
  font-size: 2rem;
  line-height: 2rem;
  background-color: var(--primary-color);
  color: var(--text-color);
}
.nanogram--data-button.button--colored {
  background-color: var(--colored-cell);
}
.nanogram--body-container .nanogram--row{
  justify-content: space-around;
}

.options-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}
.options--button{
  margin: 10px;
  padding: 10px;
  min-width: 110px;
}
.options--button:disabled{
border-color: var(--font-color-dark);
color: var(--font-color-dark);
cursor: auto;
}

.options--button-sound{
  height: 35px;
  min-width: 40px;
  margin: 10px 10px;
  padding: 2px;
  border: 2px solid var(--text-color);
  /* background-color: white; */
}

.modal-overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--font-color-dark);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* overflow-y:auto; */
}

.modal {
  /* left: 100%; */
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 30px;
  border-radius: 10px;
  border: 2px solid var(--font-color-light);

}

.modal-overlay.active{
  display: flex;
  left: 0;
}