@use "../abstract/constants";
@use "../abstract/mixins";

.about {
  padding: 60px 82px;
  background-color: constants.$color-background;
  background-image: url("./src/accets/png/bg-snow.png");
  background-position: center;
  background-size: 100%;

  @include mixins.media-preMediumScreen {
    padding: 60px 8px;
  }

}

.about__container {
  display: flex;
  flex-direction: row;
  background-color: constants.$color-staticWhite;
  border-radius: 20px;

  div {
    width: 50%;
  }

  @include mixins.media-preSmallScreen {
    flex-direction: column;
    align-items: center;

    div {
      width: 100%;
    }
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 0 60px;

  h6 {
    text-align: left;
  }

  h3 {
    padding: 20px 0;
    max-width: 360px;

    @include mixins.media-mediumScreen {
      max-width: 300px;
    }

    @include mixins.media-smallScreen {
      max-width: 350px;
    }
  }

  p {
    max-width: 410px;

    @include mixins.media-mediumScreen {
      max-width: 270px;
    }

    @include mixins.media-smallScreen {
      max-width: 325px;
    }
  }

  @include mixins.media-preSmallScreen {
    padding: 60px 20px;
  }
}

.about__image {
  background-image: url("./src/accets/png/object.png");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;
  height: 528px;
}