@use "../abstract/constants";
@use "../abstract/mixins";

.timer {
  background-color: constants.$color-background;
  background-image: url("./src/accets/png/bg-forest.png"), url("./src/accets/png/bg-snow.png");
  background-position: top, top;
  background-repeat: no-repeat;
  background-size: 1440px, 1440px;
  border-radius: 0px 0px 20px 20px;
  padding: 175px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    margin-bottom: 15px;
  }

  h6 {
    padding: 7px 0;

    @include mixins.media-mediumScreen {
      padding: 6px 0;
    }
  }

  @include mixins.media-mediumScreen {
    background-size: 1435px, 1600px;
    padding: 180px 0;
    background-position: bottom, bottom;
  }

  @include mixins.media-smallScreen {
    background-size: 1510px, 1700px;
    padding: 182px 0 179px;
  }
}

.timer>h3 {
  max-width: 426px;
  text-align: center;
  padding: 8px 0 17px;

  @include mixins.media-mediumScreen {
    padding: 8px 0 20px;
  }
}

.timer__content {
  background-color: rgba(255, 255, 255, 0.4);
  color: constants.$color-staticWhite;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  width: 344px;
  padding: 10px 13px 13px;

  @include mixins.media-mediumScreen {
    padding: 11px 13px 11px;
  }
}

.timer__line {
  margin-top: 16px;
  // background-color: $color-staticWhite;
  border: 1px solid constants.$color-staticWhite;
  width: 2px;
  height: 23px;
  opacity: 0.8;
}

.timer-days,
.timer-hours,
.timer-minutes,
.timer-seconds {
  width: 25%;

  h3 {
    text-align: center;
  }

  h5 {
    // color: #FFFFFF;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
  }
}