$color-background: #FF4646;
$color-contentBackground: rgba(236, 243, 248, 1);
$color-staticWhite: #FFFFFF;
$color-staticWhite40: #FFFFFF66;

$color-pink: #FF43F7;
$color-purple: #4361FF;
$color-green: #06A44F;

$color-overlay: rgba(24, 28, 41, 0.8);
$color-dark: #181C29;
$color-primary: #FF46461A;

$content-width: 1440px;

$pretablet-width: 1080px;
$tablet-width: 768px;

$premobile-width: 600px;
$mobile-width: 380px;